/build
/.idea
/cmake-build-debug

/3rdparty/gmock-1.7.0/Makefile
/3rdparty/gmock-1.7.0/autom4te.cache
/3rdparty/gmock-1.7.0/config.log
/3rdparty/gmock-1.7.0/config.status
/3rdparty/gmock-1.7.0/gtest/Makefile
/3rdparty/gmock-1.7.0/gtest/config.log
/3rdparty/gmock-1.7.0/gtest/config.status
/3rdparty/gmock-1.7.0/gtest/libtool
/3rdparty/gmock-1.7.0/gtest/autom4te.cache
/3rdparty/gmock-1.7.0/libtool
/3rdparty/gmock-1.7.0/lib
/3rdparty/gmock-1.7.0/scripts/gmock-config



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.0.0.0
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.Plo
*.Plo.0.0.0

