<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.staticfile.org/angular.js/1.6.3/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>

<body>
<style type="text/css">
    .icon {
        font-size: 30px;
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-right: 20px;
    }
</style>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu col-md-3 col-lg-3">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            <p style="font-family: verdana;font-size:200%">Chameleon</p>
                        </a>
                        <div class="left" style="float: right">
                            <img src="../icon/chameleon-icon" style="width: 60px;height: 60px">
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="Control.html" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-kongzhitai-"></use>
                            </svg>
                            控制模块
                        </a>
                    </li>

                    <li>
                        <a href="Operation.html" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-zuoye"></use>
                            </svg>
                            作业
                        </a>
                    </li>

                    <li>
                        <a href="#" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-icon-test"></use>
                            </svg>
                            配置模块
                        </a>
                    </li>

                    <li>
                        <a href="#" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shuju"></use>
                            </svg>
                            数据平面模块
                        </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>

    <!-- Main Content -->
    <div class="col-lg-9 col-md-9">
        <div style="margin-top: 15px; height:50px">
            <img src="../icon/HICAS.png" style="float: right;width: 80px;height: 100px" alt="">
            <p style="font-size: 200%;">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-kongzhitai-"></use>
                </svg>
                控制模块
            </p>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#hardware" data-toggle="tab" style="font-size: 150%">
                    机器节点
                </a>
            </li>
            <li><a href="#runtime" data-toggle="tab" style="font-size: 150%">
                集群资源使用统计
            </a></li>
            <li><a href="#algorithm" data-toggle="tab" style="font-size: 150%">
                调度算法选择
            </a></li>
            <li><a href="#timeandspace" data-toggle="tab" style="font-size: 150%">
                时空共享调度策略
            </a></li>
        </ul>
        <div id="myTabContent" class="tab-content" style="font-size: 150%; margin-top: 15px">
            <div class="tab-pane fade in active" id="hardware">
                <div class="container-fluid">
                    <div ng-app="myApp" ng-controller="hardware">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>IP</th>
                                <th>CPU数</th>
                                <th>磁盘数</th>
                                <th>GPU数</th>
                                <th>内存容量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in hardware">
                                <td>{{x.slave_uuid}}</td>
                                <td>
                                    {{x.slave_id}}
                                </td>
                                <td>
                                    {{x.cpu_collection.cpu_quantity}}
                                </td>
                                <td>
                                    {{x.disk_collection.disk_quantity}}
                                </td>
                                <td>
                                    {{x.gpu_collection.gpu_quantity}}
                                </td>
                                <td>
                                    {{x.mem_collection.max_size}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="runtime">
                <div class="container-fluid">
                    <div ng-app="runtimeApp" ng-controller="runtimeCtrl">
                        <table class="table table-hover" >
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>IP</th>
                                <th>CPU使用率</th>
                                <th>内存使用率</th>
                                <th>硬盘使用率</th>
                                <th>交换空间使用率</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in runtime">
                                <td>{{x.slave_uuid}}</td>
                                <td>{{x.slave_id}}</td>
                                <td>{{x.cpu_usage.cpu_used | number:2}} %</td>
                                <td>{{x.mem_usage.mem_available / x.mem_usage.mem_total * 100 | number:2}} %</td>
                                <td>{{x.disk_usage.available_percent | number:2}} %</td>
                                <td>{{x.mem_usage.swap_free / x.mem_usage.swap_total * 100 | number:2}} %</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="algorithm">
                <div class="container-fluid">
                </div>
            </div>
            <div class="tab-pane fade" id="timeandspace">
                <div class="container-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/bootstrap.min.js"></script>
<script src="../js/navbar.js"></script>
<script src="../js/iconfont.js"></script>
<script src="../js/app.js"></script>

</body>

</html>




