<!DOCTYPE html>

<html >


<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">




</head>

<body ng-app="Chameleon">

<style type="text/css">
    .icon {
        font-size: 30px;
        width: 1em; height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        margin-right: 20px;
    }
</style>

<style type="text/css">
    #mynetwork {
        width: 100%;
        height: 800px;
        border: 1px solid lightgray;
    }
</style>

<div class="container-fluid">
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu col-md-3 col-lg-3">

        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Hamburger -->
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#">
                            <p style="font-family: verdana;font-size:200%">Chameleon</p>
                        </a>
                        <div class="left" style="float: right">
                            <img src="../icon/chameleon-icon" style="width: 60px;height: 60px">
                        </div>
                    </div>
                </div>

            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="Control.html" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-kongzhitai-"></use>
                            </svg>
                            控制模块
                        </a>
                    </li>

                    <li>
                        <a href="Operation.html" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-zuoye"></use>
                            </svg>
                            作业
                        </a>
                    </li>

                    <li>
                        <a href="#" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-icon-test"></use>
                            </svg>
                            配置模块
                        </a>
                    </li>

                    <li>
                        <a href="#" style="font-size: 150%;">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-shuju"></use>
                            </svg>
                            数据平面模块
                        </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>

    <!-- Main Content -->
    <div class="col-lg-9 col-md-9">
        <div style="margin-top: 15px; height:50px">
            <img src="../icon/HICAS.png" style="float: right;width: 80px;height: 100px" alt="">
            <p style="font-size: 200%;">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-kongzhitai-"></use>
                </svg>
                控制模块
            </p>
        </div>
        <ul id="myTab" class="nav nav-tabs">
            <li >
                <a href="#/hardware"  style="font-size: 100%">
                    机器节点
                </a>
            </li>
            <li><a href="#/runtime"  style="font-size: 100%">
                集群资源使用统计
            </a></li>
            <li><a href="#/scheduling" data-toggle="tab" style="font-size: 100%">
                调度算法选择
            </a></li>
            <li><a href="#/time_space" data-toggle="tab" style="font-size: 100%">
                时空共享调度策略
            </a></li>
            <li><a href="#/topology" style="font-size: 100%">
                网络拓扑图
            </a></li>

            <!--Indicates a dangerous or potentially negative action-->
            <div ng-controller = "modalController">
                <li>
                <button type="button" class="btn btn-danger" ng-click="openModal()">关闭所有slave节点</button>
                </li>
            </div>
        </ul>

        <div id="myTabContent"  style="margin-top: 15px">
            <div ng-view=""></div>
        </div>
    </div>

    </div>
</div>
</div>

<script type="text/ng-template" id="Control.html">
    <div>
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                警告
            </h3>
        </div>
        <div class="modal-body">
            <div align="center">
                确定关闭所有节点？
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../js/thirdparty/angular-1.5.5.min.js"></script>

<!--<script src="../js/thirdparty/angular-animate.js"></script>-->
<!--<script src="../js/thirdparty/angular-sanitize.js"></script>-->

<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>-->
<!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>-->


<script src="../js/thirdparty/bootstrap.js"></script>
<!--<script src="../js/thirdparty/angular-1.2.3.js"></script>-->
<script src="../js/thirdparty/ui-bootstrap-tpls-0.11.2.min.js"></script>
<script src="../js/thirdparty/angular-route-1.2.3.js"></script>

<!--<script src="../js/thirdparty/ui-bootstrap-tpls-2.5.0.js"></script>-->

<script type="text/javascript" src="../vis-4.21.0/dist/vis.js"></script>
<link href="../vis-4.21.0/dist/vis-network.min.css" rel="stylesheet" type="text/css" />

<script src="../js/thirdparty/navbar.js"></script>
<script src="../js/thirdparty/iconfont.js"></script>
<script src="../js/thirdparty/echarts.min.js"></script>

<script src="../js/app.js"></script>
<script src="../js/controllers.js"></script>
</body>

</html>




