<table m-table table-content="frameworks" title="Active Frameworks"
       class="table table-striped table-bordered table-condensed">
    <thead>
    <caption>活动中框架</caption>
    <tr>
        <th data-key ="id"> ID</th>
        <th data-key = "hostname">主机名</th>
        <th>用户</th>
        <th>框架</th>
        <th>Web UI</th>
        <th>活动的任务</th>
        <th>注册时间</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in framework | filter:{state: 'ACTIVE'}:true">
        <th><a href="#/frameworks/{{x.id.value}}">{{x.id.value}}</a>
        <!--<th><a href="{{x.webui_url}}">{{x.id.value}}</a>-->
        </th>
        <th>
            {{x.hostname}}
        </th>
        <th>
            {{x.user}}
        </th>
        <th>
            {{x.name}}
        </th>
        <th>
            <a href="{{x.webui_url}}">{{x.webui_url}}</a>
        </th>
        <th>
            {{x.princple}}
        </th>
        <th>
            {{user}}
        </th>
        <th>
            {{user}}
        </th>
    </tr>
    </tbody>
</table>

<table m-table table-content="frameworks" title="Inactive Frameworks"
       class="table table-striped table-bordered table-condensed">
    <thead>
    <caption>未活动框架</caption>
    <tr>
        <th>ID</th>
        <th>主机名</th>
        <th>用户</th>
        <th>框架</th>
        <th>Web UI</th>
        <th>活动的任务</th>
        <th>注册时间</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr ng-repeat="x in framework ">-->
        <!--<th><a href="#/frameworks/{{x.id.value}}">{{x.id.value}}</a>-->
        <!--</th>-->
        <!--<th>-->
            <!--{{x.hostname}}-->
        <!--</th>-->
        <!--<th>-->
            <!--{{x.user}}-->
        <!--</th>-->
        <!--<th>-->
            <!--{{x.name}}-->
        <!--</th>-->
        <!--<th>-->
            <!--{{x.princple}}-->
        <!--</th>-->
        <!--<th>-->
            <!--{{user}}-->
        <!--</th>-->
        <!--<th>-->
            <!--{{user}}-->
        <!--</th>-->
    <!--</tr>-->
    </tbody>
</table>

<table m-table table-content="completed_frameworks" title="Completed Frameworks"
       class="table table-striped table-bordered table-condensed">
    <thead>
    <caption>已完成框架</caption>
    <tr>
        <th>ID</th>
        <th>主机名</th>
        <th>用户</th>
        <th>框架</th>
        <th>Wei UI</th>
        <th>注册时间</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in framework | filter:{state:'INACTIVE'}:true ">
        <th><a href="#/frameworks/{{x.id.value}}">{{x.id.value}}</a>
        <!--<th><a href="{{x.webui_url}}">{{x.id.value}}</a>-->
        </th>
        <th>
            {{x.hostname}}
        </th>
        <th>
            {{x.user}}
        </th>
        <th>
            {{x.name}}
        </th>
        <th>
            <a href="{{x.webui_url}}">{{x.webui_url}}</a>
        </th>
        <th>
            {{user}}
        </th>

    </tr>
    </tbody>
</table>
