<div class="tab-pane fade in active" id="networktopology">
    <p>
        <label for="locale">Select a level:</label>
        <select id="locale" onchange="window.location.href=this.value">
            <option value="1" >1层</option>
            <option value="#/topology/super_master" >2层</option>
        </select>
    </p>

    <div id="mynetwork" style="width: 100%"></div>
    <p id="selection"></p>
</div>


<!--<div class="tab-pane fade in active" id="networktopology">-->

    <!--<form>-->
        <!--Select a level:-->
        <!--<select  ng-model="myVar">-->
            <!--<option value="1" >1层</option>-->
            <!--<option value="2" >2层</option>-->
        <!--</select>-->
    <!--</form>-->

    <!--<div ng-switch ="myVar">-->
        <!--<div ng-switch-when="1"> id="mynetwork" style="width: 100%">-->
            <!--<p id="selection"></p>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div ng-switch ="myVar">-->
        <!--<div ng-switch-when="2">-->
            <!--<div id="myknetwork" style="width: 100%"></div>-->
            <!--<p id="superselection"></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<select id="ctc" onchange="changeProgram()">-->
    <!--{% for ctc in CTCs %}-->
    <!--<option value="{{ctc}}">{{ctc}}</option>-->
    <!--{% end %}-->
<!--</select>-->
<!--<script>-->
<!--$(function () {-->
    <!--if (localStorage.getItem('ctc')) {-->
        <!--$("#ctc option").eq(localStorage.getItem('ctc')).prop('selected', true);-->
    <!--}-->

    <!--$("#ctc").on('change', function () {-->
        <!--localStorage.setItem('ctc', $('option:selected', this).index());-->
<!--});-->
<!--});-->
<!--</script>-->