
<div type="text/ng-template" >
    <div>
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                Alert
            </h3>
        </div>
        <div class="modal-body">
            <div  align="center">
                <!--date作为传入的参数,这里是alert_message的值-->
                {{date}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                ok
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                cancel
            </button>
        </div>
    </div>
</div>

