<!--Copyright  ：SIAT 异构智能计算体系结构与系统研究中心  -->
<!--Author     ：Jessicalllo  sherlock_vip@163.com-->
<!--Date       ：19-02-05 -->
<!--Description：save.html-->

<div class="tab-pane fade in active" id="hardware">
    <div class="container-fluid">
        <div  ng-controller="HardwareCtrl" id="hardware_controller">
            <table class="table table-hover" style="table-layout:fixed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>CPU</th>
                    <th>Cache</th>
                    <th>硬盘</th>
                    <th>GPU</th>
                    <th>内存</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in hardware" id="hardware_repeat">
                    <td id="slave_uuid">
                        {{x.slave_uuid}}
                    </td>
                    <td>
                        {{x.slave_id}}
                    </td>
                    <td>
                        <!--<div class="panel panel-default">
                            <div class="panel-heading">-->
                        {{x.cpu_collection.cpu_quantity}}
                        <a style="float:right" data-toggle="collapse"
                           href="#cpu{{x.slave_uuid}}">

                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xiala"></use>
                            </svg>
                        </a>
                        <!--</div>-->
                        <div id="cpu{{x.slave_uuid}}" class="collapse">
                            <!--<div class="panel-body">-->
                            modelname:{{x.cpu_collection.cpu_infos[0].modelname}}
                            主频:{{x.cpu_collection.cpu_infos[0].cpuMHz}}MHz
                            最大主频:{{x.cpu_collection.cpu_infos[0].cpumaxMhz}}MHz
                            <!--</div>-->
                        </div>
                        <!--</div>-->

                    </td>
                    <td>
                        <div>
                            三级缓存
                            <a style="float:right" data-toggle="collapse"
                               href="#cache{{x.slave_uuid}}">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-xiala"></use>
                                </svg>
                            </a>
                        </div>
                        <div id="cache{{x.slave_uuid}}" class="collapse">
                            l1dcache:{{x.cpu_collection.cpu_infos[0].l1dcache}}
                            l1dcache:{{x.cpu_collection.cpu_infos[0].l1dcache}}
                            l2cache:{{x.cpu_collection.cpu_infos[0].l2cache}}
                            l3cache:{{x.cpu_collection.cpu_infos[0].l3cache}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{x.disk_collection.disk_quantity}}
                            <a style="float:right" data-toggle="collapse"
                               href="#disk{{x.slave_uuid}}">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-xiala"></use>
                                </svg>
                            </a>
                        </div>
                        <div id="disk{{x.slave_uuid}}" class="collapse">
                            name:{{x.disk_collection.disk_infos[0].name}} <br>
                            size:{{x.disk_collection.disk_infos[0].size}} <br>
                            type:{{x.disk_collection.disk_infos[0].type}} <br>
                            speed:{{x.disk_collection.disk_infos[0].disk_speed}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{x.gpu_collection.gpu_quantity}}
                            <a style="float:right" data-toggle="collapse"
                               href="#gpu{{x.slave_uuid}}">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-xiala"></use>
                                </svg>
                            </a>
                        </div>
                        <div id="gpu{{x.slave_uuid}}" class="collapse">
                            vendor:{{x.gpu_collection.gpu_infos[0].vendor}} <br>
                            physical_id:{{x.gpu_collection.gpu_infos[0].physical_id}} <br>
                            width:{{x.gpu_collection.gpu_infos[0].width}}
                        </div>
                    </td>
                    <td>
                        <div>
                            {{x.mem_collection.max_size}}
                            <a style="float:right" data-toggle="collapse"
                               href="#mem{{x.slave_uuid}}">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-xiala"></use>
                                </svg>
                            </a>
                        </div>
                        <div id="mem{{x.slave_uuid}}" class="collapse">
                            size:{{x.mem_collection.mem_infos[0].size}}
                            speed:{{x.mem_collection.mem_infos[0].speed}}
                            type:{{x.mem_collection.mem_infos[0].type}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="tab-pane fade" id="runtime">
    <div class="container-fluid">
        <div  ng-controller="RuntimeCtrl">
            <table class="table table-hover" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>CPU使用率</th>
                    <th>内存使用率</th>
                    <th>硬盘空闲率</th>
                    <th>交换空间空闲率</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in runtime">
                    <td>
                        <a href="#/Control/{{x.slave_uuid}}">{{x.slave_uuid}}</a>
                        <button class="btn btn-xs btn-default btn-toggle"
                                clipboard
                                data-clipboard-text="{{x.slave_uuid}}"
                                tooltip="Copy ID"
                                tooltip-placement="right"
                                tooltip-trigger="clipboardhover">
                            <i class="icon-file"></i>
                        </button>
                    </td>
                    <td>{{x.slave_id}}</td>
                    <td>{{x.cpu_usage.cpu_used | number:2}} %</td>
                    <td>{{x.mem_usage.mem_available / x.mem_usage.mem_total * 100 | number:2}} %</td>
                    <td>{{x.disk_usage.available_percent | number:2}} %</td>
                    <td>{{x.mem_usage.swap_free / x.mem_usage.swap_total * 100 | number:2}} %</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="algorithm">
    <div class="container-fluid">
    </div>
</div>
<div class="tab-pane fade" id="timeandspace">
    <div class="container-fluid">
    </div>
</div>
<div class="tab-pane fade " id="networktopology">
    <div id="mynetwork"></div>
    <p id="selection"></p>


</div>