<!--Copyright  ：SIAT 异构智能计算体系结构与系统研究中心  -->
<!--Author     ：Jessicalllo  sherlock_vip@163.com-->
<!--Date       ：18-12-21 -->
<!--Description：shutdown.html-->

<div type="text/ng-template" >
    <div>
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                警告
            </h3>
        </div>
        <div class="modal-body">
            <div  align="center">
                <!--date作为传入的参数,这里是alert_message的值-->
                {{date}}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                取消
            </button>
        </div>
    </div>
</div>

